<div class="contenedor">
    <p class="info-form">Acceso a Notificaciones Electrónicas de la Junta de Castilla y León</p>
    <p class="info-form">Certificado digital</p>
    <div class="buscador-especifico login">
        <!-- <div class="mensaje error">
            <p><strong>Atención</strong></p>
            <p>[MENSAJE]</p>
        </div> -->
        <ul class="menu-opciones-buscador">
            <li class="ico-ayuda">
                <a href="">Ayuda</a>
            </li>
        </ul>
        <form name="formulario" method="get" action="">
            <div>
                <label for="usuario">Usuario</label>
                <input id="usuario" name="usuario" type="text" class="user">
            </div>
            <div>
                <label for="pass">Contraseña</label>
                <input id="pass" name="pass" type="text" class="pass">
            </div>
            <!-- <input id="aceptar" name="aceptar" value="Aceptar" type="submit" class="boton"> -->
            <input id="aceptar" name="aceptar" value="Aceptar" class="boton handy">
        </form>
        <div class="info-login">
            <p>Si usted no es usuario del Portal Personalizado de la Junta puede registrarse en el siguiente enlace: <a href="">Registrarse</a>.</p>
            <p>Si se olvidó de su contraseña, pulse en el siguiente enlace: <a href="">Recordar contraseña</a>.</p>
            <p>Si tiene algún problema con su nombre de usuario y contraseña póngase en contacto con el <a href="">webmaster</a>.</p>
        </div>
    </div>                     
</div>