<div class="contenedor">
    <h1>Condiciones del servicio de notificaciones y comunicaciones</h1>
    <p>
        El Servicio de Notificaciones Electrónicas Seguras de la Administración de la Comunidad de Castilla y León (en adelante
        ACCyL) es el sistema que utiliza la Junta de Castilla y León para realizar el envío y seguimiento de notificaciones
        electrónicas, con generación de evidencias comprobables de la entrega por el emisor y la recepción por el destinatario.
        Este servicio está previsto en la ley 11/2007 de 22 de junio, de acceso electrónico de los ciudadanos a los servicios
        públicos.
    </p>
    <p>
        Mediante la suscripción a procedimientos, el ciudadano expresa su deseo de recibir por vía electrónica las
        notificaciones administrativas generadas por los procedimientos que los distintos Organismos Públicos ponen a su
        disposición.
    </p>
    <p>
        Tiene carácter gratuito.
    </p>
    <p>
        La ACCyL asegura de conformidad con la legislación aplicable la disponibilidad del servicio 7 días a la semana 24 horas
        al día. Para el acceso a este servicio el usuario deberá suscribirse. Por el hecho de mantener las notificaciones
        accesibles para el interesado, la ACCyL no se responsabiliza del contenido de las notificaciones ni de los efectos
        jurídicos que se deriven de cada notificación. Para cada una de las notificaciones recibidas, el usuario estará sujeto a
        la legislación aplicable en cada caso. Para conocer esta legislación el usuario deberá dirigirse a cada uno de los
        órganos y Organismos emisores de las mismas.
    </p>
    <strong>
        Requisitos de acceso
    </strong>
    <p>
        La suscripción del interesado a este servicio significa la aceptación de todas las condiciones establecidas para su uso
        y descritas en estas condiciones particulares. El buzón habilitado para cada usuario, será único y personal. Para
        suscribirse al servicio será necesario que el interesado esté en posesión de un certificado reconocido de firma
        electrónica, que cumpla los estándares X.509 v.3 a su nombre, de acuerdo con la legislación vigente de Firma Electrónica
        (consulte con su proveedor de firma).
    </p>
    <p>
        El usuario se compromete y responsabiliza a mantener actualizada toda la información facilitada, de forma que responda,
        en cada momento, a su situación real. La ACCyL tratará estos datos conforme a las condiciones publicadas en su Política
        de protección de datos y con sujeción a lo establecido en las condiciones particulares del correspondiente servicio.
    </p>
    <strong>
        Secreto de las comunicaciones y confidencialidad
    </strong>
    <p>
        La ACCyL, garantiza el secreto de las comunicaciones de conformidad con lo previsto en el artículo 18.3 de la
        Constitución Española, en coordinación con el artículo 3 de la Ley 24/1998, de 13 de julio, del Servicio Postal
        Universal y de Liberalización de los Servicios Postales.
    </p>
    <strong>
        Responsabilidad
    </strong>
    <p>
        Se excluye toda responsabilidad por posibles fallos originados en los sistemas informáticos del cliente que no sea
        imputable a la ACCyL.
    </p>
    <p>
        La ACCyL no se hace responsable en ningún caso de ningún daño que se pudiera causar a un tercero por los usuarios de la
        aplicación como consecuencia del uso ilegal o inadecuado del mismo, ni como consecuencia de los contenidos e
        informaciones accesibles o facilitadas a través de ella, ni de los sitios vinculados a la misma. Los responsables serán
        los usuarios o terceros causantes de los daños.
    </p>
    <p>
        Las eventuales referencias que se hagan en la aplicación a cualquier producto, servicio, proceso, enlace, hipertexto o
        cualquier otra información, utilizando la marca, el nombre comercial, o el nombre del fabricante o suministrador, que
        sean de titularidad de terceros, no constituye ni implica respaldo, patrocinio o recomendación por parte de la ACCyL.
    </p>
    <strong>
        Acceso con Internet Explorer 9
    </strong>
    <p>
        Para visualizar correctamente la gestión de los procedimientos, si está usando Internet Explorer 9, es necesario navegar
        con la Vista de Compatibilidad
    </p>
</div>