<div style="margin: 20px 0 0 0"></div>

<div class="buscador-especifico fondo">
    <form name="formulario" method="get" action="">
        <fieldset class="fieldset">
            <legend><span></span> Crear BEC</legend>
            <div>
                <label for="[ID]">Nombre <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">Primer apellido <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">Segundo apellido <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">NIF <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">Correo electrónico <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">Confirmación correo electrónico <span aria-label="campo obligatorio">*</span></label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
            <div>
                <label for="[ID]">Teléfono móvil</label>
                <input id="[ID]" name="[ID]" type="text" aria-required="true">
            </div>
        </fieldset>
        <input name="aceptar" value="Crear" class="boton handy">
        <input (click)="cancelar()" style="float: right;" name="Cancelar" value="Cancelar" class="boton handy">
    </form>
</div>