<div id="mapa-web">
    <div class="contenedor">
        <div class="fila">
            <h2 class="elemento-invisible">Mapa web</h2>
            <div class="columna">
                <h3><a [routerLink]="['/']">Inicio</a></h3>
                <ul>
                    <li><a [routerLink]="['/']">Inicio</a></li>
                </ul>
            </div>
            <div class="columna">
                <h3><a [routerLink]="['/notificaciones']">Notificaciones</a></h3>
                <ul>
                    <li><a [routerLink]="['/notificaciones']">Notificaciones</a></li>
                </ul>
            </div>
            <div class="columna">
                <h3><a [routerLink]="['/comunicaciones']">Comunicaciones</a></h3>
                <ul>
                    <li><a [routerLink]="['/comunicaciones']">Comunicaciones</a></li>
                </ul>
            </div>
            <div class="columna">
                <h3><a [routerLink]="['/procedimientos']">Procedimientos</a></h3>
                <ul>
                    <li><a [routerLink]="['/procedimientos']">Procedimientos</a></li>
                </ul>
            </div>
            <div class="columna">
                <h3><a [routerLink]="['/suscripciones']">suscripciones</a></h3>
                <ul>
                    <li><a [routerLink]="['/suscripciones']">suscripciones</a></li>
                </ul>
            </div>
            <div class="columna">
                <h3><a>Gestión</a></h3>
                <ul>
                    <li><a [routerLink]="['/gestion/notificaciones']">Notificaciones</a></li>
                    <li><a [routerLink]="['/gestion/comunicaciones']">Comunicaciones</a></li>
                    <li><a [routerLink]="['/gestion/procedimientos']">Procedimientos</a></li>
                    <li><a [routerLink]="['/gestion/estadisticas']">Estadisticas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="menu-pie">
    <div class="contenedor">
        <h2 class="elemento-invisible">Menú secundario</h2>
        <ul>
            <li><a href="">Atención al ciudadano</a></li>
            <li><a href="">Aviso legal</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a href="">Accesibilidad</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
</div>
<div id="logos">
    <div class="contenedor">
        <ul>
            <li><a href=""><img src="assets/img/logos/css.jpg" alt="" /></a></li>
            <li><a href=""><img src="assets/img/logos/xhtml.jpg" alt="" /></a></li>
            <li><a href=""><img src="assets/img/logos/ilunion.jpg" alt="Ilunion WCAG 2.0 WAI - AA" /></a></li>
            <li><a href=""><img src="assets/img/logos/europa.jpg" alt="" /></a></li>
            <li><a href=""><img src="assets/img/logos/union-europea.jpg" alt="" /></a></li>
            <li><a href=""><img src="assets/img/logos/mobile-ok.jpg" alt="" /></a></li>
        </ul>
    </div>
</div>